{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
    <header>
       
                                                       
        <h2 class="logo"><img src="{% static 'img/about.png' %}" width="200" height="100"></h2>  
        
    </header>
    <div class="main-content">
        <img src="{% static 'img/Know-us-better.webp' %}" alt="Hav" width="1200" height="300"/>
    </div>
        <div class="about-message-text">
            <h2>About Havmor</h2>
            <p>Established in the year 1945 and now a part of Lotte Confectionery Ltd, Havmor has grown to be loved by all. But how did we do it? Well! We are present in every nook and corner around the nation with 72,000 retail outlets and over 200 flagship stores. This network spans across 18 states and 5 union territories.</p>
            <p>With our committed team and the latest technology in the industry, we produce over 4 million litres of ice cream, that approx 36 million units of ice cream served to consumers every single day. That’s a lot of ice cream! While delivering this huge quantity, we never compromise on quality. Our products undergo stringent quality checks that adhere to global quality standards.</p>
            <p>We are also proud to tell you about our list of esteemed clients which includes the Indian Institute of Management - Ahmedabad and renowned hotels like Taj, Le Meridian, ITC, Hyatt, Four Seasons, Fortune Landmark, Radisson, Marriott, and Crowne Plaza, to name a few.</p>
     <div class="icon">
     <img src="{% static 'img/about2.webp' %}" >
     </div> 
     <h2>Havmor - Innovating Always</h2>
     <p>We carry innovation in our hearts, coming up with unique flavours for you to experience. It’s the essence of every creation. From traditional recipes like Kulfis to modern favourites like Belgian Dark Chocolate and Hazelnut Ice Cream Cake, our portfolio boasts of 150+ products and speaks for our wide range. Signature tubs, ice candies, crunchy cones, you name it and we have it!</p> 
     <p  style="margin-bottom: 20px; color: rgb(219, 1, 1);">Oh! And here’s something we are super proud of!</p>
     <p style="margin-bottom:20px; color: rgb(219, 1, 1);">We have 10 consecutive wins at the Times Food Awards since 2009 in our kitty!</p>
     </div>  
        </div>
</body>
</html>
	 
