{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/s1.css' %}" >
    </head>
    <body>
        <header>
            <div class="main">
                <h2 class="logo">Place an Orders</h2>
            </div>
            <div class="nav">
                
                    <label>Division:</label>
                    <select>
                        <option class="all">ICE CREAM </option>
                        <option class="all">RAM ENTERPRISES </option>
                    </select>
                </a>
                <a class="logo">Plant: RAM ENTERPRISES</a>
                <a class="logo">Place: KARKAL</a>
                    <label>PO Material Category:</label>
                    <select>
                        <option value="all">ALL</option>
                    </select>
            </div>  
        </header>  
    </body>
</html>