{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="{% url 'index' %}"><img src="/static/img/menu-close.webp"></a>     
        </nav>                                                 
        <h2 class="logo"><img src="/static/img/logo.png" width="250" height="130"></h2>   
    </header>

    <div class="nav">
        <ul>
            <li><a href="{% url 'loginn' %}"><h1 align="center">Login</h1></a></li>
            <li><a href="{% url 'loginreport' %}"><h1 align="center">Reports</h1></a></li>
            <li><a href="{% url 'feedback' %}"><h1 align="center">Feedback</h1></a></li>
            <li><a href="{% url 'about' %}"><h1 align="center">About Us</h1></a></li>
        </ul>
    </div>

    <div class="customerCareInfo" 
     style="display: block; margin-top: 400px; margin-left: 130px; text-align: center; background-color: #f0f0f0; padding: 10px; border-radius: 5px; clear: both;">
    <h4>Customer Care</h4>
    <p><a href="tel:9876543210" style="text-decoration: none; color: #000;">+91 98765 43210</a></p>
</div>

    

    <div class="icon">
        <img src="/static/img/menu-img.webp">
    </div>
</body>
</html>
