<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/s2.css' %}" >
    </head>
    <body>
        <header>
            <div class="main">
                <h2 class="logo">Sales Orders</h2>
            </div>
        </header>
            <div class="row">
                <div>
                  <label for="division">Division:</label>
                  <select id="division">
                    <option value="division1">ICE CREAM</option>
                   
                  </select>
                
                  <label for="plant">Plant:</label>
                  <select id="plant">
                    <option value="plant1">RAM ENTERPRISES[10013163]</option>
                    
                  </select>
                
                  <label for="customer">Customer:</label>
                  <select id="customer">
                    <option value="customer1">7 BAKES 2 || 90123512</option>
                  </select>
                
                
                  <label for="customer-number">Contact No:9035475367</label>
                  
                
              </div>
              <div class="row1">
                <label for="discount">Discount(%):</label>
                <input type="number" id="discount" value="0.00">
                
                <label for="remarks">Remarks/Details:</label>
                <input type="text" id="remarks">
                
                <label for="scheme">Scheme Remarks:</label>
                <input type="text" id="scheme">
              </div>
            </div>
            

        </div>  
     
    </body>
</html>